body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
}

#fbi-portal {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
}

#searchInput {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    width: 70%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.most-wanted, .open-cases {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.person, .case {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
